{
  "openapi": "3.0.0",
  "info": {
    "title": "Active Jobs Db",
    "version": "1.0.0",
    "description": "RapidAPI: fantastic-jobs-fantastic-jobs-default/active-jobs-db"
  },
  "servers": [
    {
      "url": "https://active-jobs-db.p.rapidapi.com"
    }
  ],
  "paths": {
    "/active-ats-7d": {
      "get": {
        "summary": "Get Jobs 7 days",
        "description": "Search and retrieve jobs on title, description, location, remote, and organization. Optionally add a text or html description",
        "operationId": "get_jobs_7_days",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "You can limit the number of jobs per API call between 10 and 100. If left blank, the default value is 100 Use the offset parameter to receive the next batch of jobs",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset allows you to paginate results. For example, if you want to retrieve 300 jobs from our api you can send 3 requests with limit=100 and offset= 0, 100, and 200. With a limit of 10, you can fetch 30 jobs using 3 requests with offset= 0, 10, and 20",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "title_filter",
            "in": "query",
            "required": false,
            "description": "Search on the job title. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_title_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Title filter which enables more features like parenthesis, 'AND', and prefix searching. Can Not be used in combination with regular title_filter Phrares (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: (AI | 'Machine Learning' | 'Robotics') & !",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_filter",
            "in": "query",
            "required": false,
            "description": "Filter on location. Please do not search on abbreviations like US, UK, NYC. Instead, search on full names like United States, New York, United Kingdom. You may filter on more than one location in a single API call using the OR parameter. For example: Dubai OR Netherlands OR Belgium",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job description. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_description_filter",
            "in": "query",
            "required": false,
            "description": "Uses the same syntax as advanced_title_filter",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company name. Only allows for exact matches. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:NVIDIA,Walmart Warning, this filter does not work for company names using parenthesis ( ) Please send us an email at remco@fantastic.jobs to receive a list of all companies in this API",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Same syntax as the organization_filter. Filter out more than one company with a comma delimited list without spaces!. Requires an exact match. Use the advanced_organization_filter for more functionality",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_type",
            "in": "query",
            "required": false,
            "description": "Description Type. Leave empty to return data without job description. Option 1: 'text' Option 2: 'html'",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "remote",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "You may optionally filter on the source, which are the ATS platforms. Your options are:adp, applicantpro, ashby, bamboohr, breezy, careerplug, comeet, csod, dayforce, eightfold, freshteam, gem, greenhouse, gohire, hirehive, hiringthing, icims, isolved, jazzhr, jobvite, join.com, kula, lever.co, oraclecloud, paycom, paylocity, personio, phenompeople, pinpoint, polymer, recruitee, recooty, smartrecruiters, successfactors, taleo, teamtailor, taleo, trakstar, workable, workday, zoho You can search o",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source_exclusion",
            "in": "query",
            "required": false,
            "description": "You can exclude one or more sources with a comma delimited list without spaces!. For example: source_exclusion:workday,greenhouse",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "date_filter",
            "in": "query",
            "required": false,
            "description": "ou can use this filter to return only the most recent jobs, instead of all jobs from the last 7 days. This filter is a greater than filter. For example, if today's date is 2025-01-03 and you wish to only return jobs posted in 2025, you can filter on '2025-01-01'. To include time, use the following syntax: '2025-01-01T14:00:00' Please keep in mind that the jobs posted date/time is UTC and there's a 1 to 2 hour delay before jobs appear on this API.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_organization_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Organization filter which enables more features like parenthesis, 'AND', and prefix searching. This filter is also useful to exclude certain organizations. Phrases (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: University & ! Harvard Will ret",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_ai",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_employment_type_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific job type as identified by our AI, the options are: FULL_TIME/PART_TIME/CONTRACTOR/TEMPORARY/INTERN/VOLUNTEER/PER_DIEM/OTHER To filter on more than one job type, please delimit by comma, like such: FULL_TIME, PART_TIME",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level taxonomies. You can choose from: Technology, Healthcare, Management & Leadership, Finance & Accounting, Human Resources, Sales, Marketing, Customer Service & Support, Education, Legal, Engineering, Science & Research, Trades, Construction, Manufacturing, Logistics, Creative & Media, Hospitality, Environmental & Sustainability, Retail, Data & Analytics, Software, Energy, Agriculture, Social Services, Administrative, Government & Public Sector, Art & Design",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_primary_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level primary taxonomies. This filter will filter on the primary taxonomy only (the first taxonomy in the array) You can filter on more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Use this parameter to exclude jobs with certain top level taxonomies from the results You can filter out more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_exclusion_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_work_arrangement_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific work arrangement identified by our AI, This is a more granular version of the 'remote' filter, which is quite broad. the options are: On-site (Job is on site only, no working from home available) Hybrid (Job is in the office with one or more days remote) Remote OK (Job is fully remote, but an office is available) Remote Solely (Job is fully remote, and no office is available) To filter on more than one job type, please delimit by comma with no space, like such:",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_has_salary",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_experience_level_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a certain required experience level as identified by our AI, the options are: 0-2/2-5/5-10/10+ To filter on more than one job type, please delimit by comma with no space, like such: 0-2,2-5",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_visa_sponsorship_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_li",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company via the slug. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:netflix,walmart Only allows for exact matches, please check the exact company slug before filtering. The slug is the company specific part of the url. For example the slug in the following url is 'walmart': https://www.linkedin.com/company/walmart/ Please send us a message or email at remco@fantastic.jobs to receive a list of companies",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Similar to the slug filter, but it removes companies from the results.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_industry_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the organization's LinkedIn Industry. Please use the exact Industry name. This filter is case sensitive. You can filter on more than one industry with a comma-delimited list without spaces. For example: industry_filter=Accounting,Staffing and Recruiting If the industry contains a comma, please double-quote. You can find a list of industries on our website: https://fantastic.jobs/article/linkedin-industries",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_specialties_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the job's organization LinkedIn specialties, with the same syntax as our job search filters. Please note that not all companies have specialties listed on their company profile",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the company's description, with the same syntax as our job search filters",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_lte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_gte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_education_requirements_filter",
            "in": "query",
            "required": false,
            "description": "Please contact us before using",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/modified-ats-24h": {
      "get": {
        "summary": "Ultra - Get Modified Jobs 24h",
        "description": "Search and retrieve jobs modified during the last 24h. Run this API at the same time every day to get newly modified jobs without any duplicates",
        "operationId": "ultra___get_modified_jobs_24h",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "You can limit the number of jobs per API call between 10 and 100. If left blank, the default value is 100 Use the offset parameter to receive the next batch of jobs",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset allows you to paginate results. For example, if you want to retrieve 300 jobs from our api you can send 3 requests with limit=100 and offset= 0, 100, and 200. With a limit of 10, you can fetch 30 jobs using 3 requests with offset= 0, 10, and 20",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "title_filter",
            "in": "query",
            "required": false,
            "description": "Search on the job title. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_title_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Title filter which enables more features like parenthesis, 'AND', and prefix searching. Can Not be used in combination with regular title_filter Phrares (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: (AI | 'Machine Learning' | 'Robotics') & !",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_filter",
            "in": "query",
            "required": false,
            "description": "Filter on location. Please do not search on abbreviations like US, UK, NYC. Instead, search on full names like United States, New York, United Kingdom. You may filter on more than one location in a single API call using the OR parameter. For example: Dubai OR Netherlands OR Belgium",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job description. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_description_filter",
            "in": "query",
            "required": false,
            "description": "Uses the same syntax as advanced_title_filter",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company name. Only allows for exact matches. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:NVIDIA,Walmart Warning, this filter does not work for company names using parenthesis ( ) Please send us an email at remco@fantastic.jobs to receive a list of all companies in this API",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Same syntax as the organization_filter. Filter out more than one company with a comma delimited list without spaces!. Requires an exact match. Use the advanced_organization_filter for more functionality",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_type",
            "in": "query",
            "required": false,
            "description": "Description Type. Leave empty to return data without job description. Option 1: 'text' Option 2: 'html'",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "remote",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter on source. Your options are: adp, applicantpro, ashby, bamboohr, breezy, careerplug, comeet, csod, dayforce, eightfold, freshteam, gem, greenhouse, gohire, hirehive, hiringthing, icims, isolved, jazzhr, jobvite, join.com, kula, lever.co, oraclecloud, paycom, paylocity, personio, phenompeople, pinpoint, polymer, recruitee, recooty, smartrecruiters, successfactors, taleo, teamtailor, taleo, trakstar, workable, workday, zoho You can search on more than one sourcewith a comma delimited list w",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source_exclusion",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_organization_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Organization filter which enables more features like parenthesis, 'AND', and prefix searching. This filter is also useful to exclude certain organizations. Phrases (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: University & ! Harvard Will ret",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_ai",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_employment_type_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific job type as identified by our AI, the options are: FULL_TIME/PART_TIME/CONTRACTOR/TEMPORARY/INTERN/VOLUNTEER/PER_DIEM/OTHER To filter on more than one job type, please delimit by comma, like such: FULL_TIME, PART_TIME",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_work_arrangement_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific work arrangement identified by our AI, This is a more granular version of the 'remote' filter, which is quite broad. the options are: On-site (Job is on site only, no working from home available) Hybrid (Job is in the office with one or more days remote) Remote OK (Job is fully remote, but an office is available) Remote Solely (Job is fully remote, and no office is available) To filter on more than one job type, please delimit by comma with no space, like such:",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_primary_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level primary taxonomies. This filter will filter on the primary taxonomy only (the first taxonomy in the array) You can filter on more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_has_salary",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_experience_level_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a certain required experience level as identified by our AI, the options are: 0-2/2-5/5-10/10+ To filter on more than one job type, please delimit by comma with no space, like such: 0-2,2-5",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_visa_sponsorship_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_li",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company via the slug. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:netflix,walmart Only allows for exact matches, please check the exact company slug before filtering. The slug is the company specific part of the url. For example the slug in the following url is 'walmart': https://www.linkedin.com/company/walmart/ Please send us a message or email at remco@fantastic.jobs to receive a list of companies",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Similar to the slug filter, but it removes companies from the results.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_industry_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the organization's LinkedIn Industry. Please use the exact Industry name. This filter is case sensitive. You can filter on more than one industry with a comma-delimited list without spaces. For example: industry_filter=Accounting,Staffing and Recruiting If the industry contains a comma, please double-quote. You can find a list of industries on our website: https://fantastic.jobs/article/linkedin-industries",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_specialties_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the job's organization LinkedIn specialties, with the same syntax as our job search filters. Please note that not all companies have specialties listed on their company profile",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the company's description, with the same syntax as our job search filters",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_lte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_education_requirements_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/active-ats-1h": {
      "get": {
        "summary": "Ultra  - Get Jobs Hourly",
        "description": "Firehose API, includes jobs we discovered in the last hour. Perfect for one or more hourly API calls. Requires Ultra or Mega subscription",
        "operationId": "ultra____get_jobs_hourly",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset allows you to paginate results. For example, if you want to retrieve 300 jobs from our api you can send 3 requests with offset 0, 100, and 200.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "title_filter",
            "in": "query",
            "required": false,
            "description": "Search on the job title. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_title_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Title filter which enables more features like parenthesis, 'AND', and prefix searching. Can Not be used in combination with regular title_filter Phrares (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: (AI | 'Machine Learning' | 'Robotics') & !",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_filter",
            "in": "query",
            "required": false,
            "description": "Filter on location. Please do not search on abbreviations like US, UK, NYC. Instead, search on full names like United States, New York, United Kingdom. You may filter on more than one location in a single API call using the OR parameter. For example: Dubai OR Netherlands OR Belgium",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job description. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_description_filter",
            "in": "query",
            "required": false,
            "description": "Uses the same syntax as advanced_title_filter",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company name. Only allows for exact matches. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:NVIDIA,Walmart Warning, this filter does not work for company names using parenthesis ( ) Please send us an email at remco@fantastic.jobs to receive a list of all companies in this API",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Same syntax as the organization_filter. Filter out more than one company with a comma delimited list without spaces!. Requires an exact match. Use the advanced_organization_filter for more functionality",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_type",
            "in": "query",
            "required": false,
            "description": "Description Type. Leave empty to return data without job description. Option 1: 'text' Option 2: 'html'",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "remote",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "You may optionally filter on the source, which are the ATS platforms. Your options are:adp, applicantpro, ashby, bamboohr, breezy, careerplug, comeet, csod, dayforce, eightfold, freshteam, gem, greenhouse, gohire, hirehive, hiringthing, icims, isolved, jazzhr, jobvite, join.com, kula, lever.co, oraclecloud, paycom, paylocity, personio, phenompeople, pinpoint, polymer, recruitee, recooty, smartrecruiters, successfactors, taleo, teamtailor, taleo, trakstar, workable, workday, zoho You can search o",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source_exclusion",
            "in": "query",
            "required": false,
            "description": "You can exclude one or more sources with a comma delimited list without spaces!. For example: source_exclusion:workday,greenhouse",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_organization_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Organization filter which enables more features like parenthesis, 'AND', and prefix searching. This filter is also useful to exclude certain organizations. Phrases (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: University & ! Harvard Will ret",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_ai",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_employment_type_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific job type as identified by our AI, the options are: FULL_TIME/PART_TIME/CONTRACTOR/TEMPORARY/INTERN/VOLUNTEER/PER_DIEM/OTHER To filter on more than one job type, please delimit by comma, like such: FULL_TIME, PART_TIME",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_work_arrangement_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific work arrangement identified by our AI, This is a more granular version of the 'remote' filter, which is quite broad the options are: On-site (Job is on site only, no working from home available) Hybrid (Job is in the office with one or more days remote) Remote OK (Job is fully remote, but an office is available) Remote Solely (Job is fully remote, and no office is available) To filter on more than one job type, please delimit by comma with no space, like such: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level taxonomies. You can choose from: Technology, Healthcare, Management & Leadership, Finance & Accounting, Human Resources, Sales, Marketing, Customer Service & Support, Education, Legal, Engineering, Science & Research, Trades, Construction, Manufacturing, Logistics, Creative & Media, Hospitality, Environmental & Sustainability, Retail, Data & Analytics, Software, Energy, Agriculture, Social Services, Administrative, Government & Public Sector, Art & Design",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_primary_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level primary taxonomies. This filter will filter on the primary taxonomy only (the first taxonomy in the array) You can filter on more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Use this parameter to exclude jobs with certain top level taxonomies from the results You can filter out more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_exclusion_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_has_salary",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_experience_level_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a certain required experience level as identified by our AI, the options are: 0-2/2-5/5-10/10+ To filter on more than one job type, please delimit by comma with no space, like such: 0-2,2-5",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_visa_sponsorship_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_li",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company via the slug. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:netflix,walmart Only allows for exact matches, please check the exact company slug before filtering. The slug is the company specific part of the url. For example the slug in the following url is 'walmart': https://www.linkedin.com/company/walmart/ Please send us a message or email at remco@fantastic.jobs to receive a list of companies",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Similar to the slug filter, but it removes companies from the results.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_industry_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the organization's LinkedIn Industry. Please use the exact Industry name. This filter is case sensitive. You can filter on more than one industry with a comma-delimited list without spaces. For example: industry_filter=Accounting,Staffing and Recruiting If the industry contains a comma, please double-quote. You can find a list of industries on our website: https://fantastic.jobs/article/linkedin-industries",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_specialties_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the job's organization LinkedIn specialties, with the same syntax as our job search filters. Please note that not all companies have specialties listed on their company profile",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the company's description, with the same syntax as our job search filters",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_lte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_gte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies greater than a certain number of employees. Can be used in combination with li_organization_employees_lte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_education_requirements_filter",
            "in": "query",
            "required": false,
            "description": "Please contact us before using",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/active-ats-6m": {
      "get": {
        "summary": "Ultra - Get Jobs Backfill - 6M",
        "description": "You can use this endpoint to backfill your job application before moving on to the 7d, 24h, or hourly endpoint",
        "operationId": "ultra___get_jobs_backfill___6m",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Warning, this endpoint is for backfill purposes and goes up to 500 jobs per API call. These jobs count towards your job credits You can limit the number of jobs per API call between 10 and 500. If left blank, the default value is 500 Use the offset parameter to receive the next batch of jobs",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset allows you to paginate results. For example, if you want to retrieve 1500 jobs from our api you can send 3 requests with limit=500 and offset= 0, 500, and 1000.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "title_filter",
            "in": "query",
            "required": false,
            "description": "Search on the job title. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_title_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Title filter which enables more features like parenthesis, 'AND', and prefix searching. Can Not be used in combination with regular title_filter Phrares (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: (AI | 'Machine Learning' | 'Robotics') & !",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_filter",
            "in": "query",
            "required": false,
            "description": "Filter on location. Please do not search on abbreviations like US, UK, NYC. Instead, search on full names like United States, New York, United Kingdom. You may filter on more than one location in a single API call using the OR parameter. For example: Dubai OR Netherlands OR Belgium",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job description. You can search like you search on Google, see the documentation for more info. Warning, for the 6 month endpoint, only use the description filter for very specific searches, or to narrow down after having applied other filters. There's a risk of timeouts when searching on very common words and sentences. Be as specific as possible when using description_filter.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_description_filter",
            "in": "query",
            "required": false,
            "description": "Uses the same syntax as advanced_title_filter Warning, for the 6 month endpoint, only use the description filter for very specific searches, or to narrow down after having applied other filters. There's a risk of timeouts when searching on very common words and sentences. Be as specific as possible when using description_filter.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company name. Only allows for exact matches. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:NVIDIA,Walmart Warning, this filter does not work for company names using parenthesis ( ) Please send us an email at remco@fantastic.jobs to receive a list of all companies in this API",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Same syntax as the organization_filter. Filter out more than one company with a comma delimited list without spaces!. Requires an exact match. Use the advanced_organization_filter for more functionality",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_type",
            "in": "query",
            "required": false,
            "description": "Description Type. Leave empty to return data without job description. Option 1: 'text' Option 2: 'html'",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "remote",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "You may optionally filter on the source, which are the ATS platforms. Your options are:adp, applicantpro, ashby, bamboohr, breezy, careerplug, comeet, csod, dayforce, eightfold, freshteam, gem, greenhouse, gohire, hirehive, hiringthing, icims, isolved, jazzhr, jobvite, join.com, kula, lever.co, oraclecloud, paycom, paylocity, personio, phenompeople, pinpoint, polymer, recruitee, recooty, smartrecruiters, successfactors, taleo, teamtailor, taleo, trakstar, workable, workday, zoho You can search o",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source_exclusion",
            "in": "query",
            "required": false,
            "description": "You can exclude one or more sources with a comma delimited list without spaces!. For example: source_exclusion:workday,greenhouse",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_organization_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Organization filter which enables more features like parenthesis, 'AND', and prefix searching. This filter is also useful to exclude certain organizations. Phrases (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: University & ! Harvard Will ret",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_ai",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_employment_type_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific job type as identified by our AI, the options are: FULL_TIME/PART_TIME/CONTRACTOR/TEMPORARY/INTERN/VOLUNTEER/PER_DIEM/OTHER To filter on more than one job type, please delimit by comma, like such: FULL_TIME, PART_TIME",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_work_arrangement_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific work arrangement identified by our AI, This is a more granular version of the 'remote' filter, which is quite broad. the options are: On-site (Job is on site only, no working from home available) Hybrid (Job is in the office with one or more days remote) Remote OK (Job is fully remote, but an office is available) Remote Solely (Job is fully remote, and no office is available) To filter on more than one job type, please delimit by comma with no space, like such:",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_has_salary",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level taxonomies. You can choose from: Technology, Healthcare, Management & Leadership, Finance & Accounting, Human Resources, Sales, Marketing, Customer Service & Support, Education, Legal, Engineering, Science & Research, Trades, Construction, Manufacturing, Logistics, Creative & Media, Hospitality, Environmental & Sustainability, Retail, Data & Analytics, Software, Energy, Agriculture, Social Services, Administrative, Government & Public Sector, Art & Design",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_primary_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level primary taxonomies. This filter will filter on the primary taxonomy only (the first taxonomy in the array) You can filter on more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Use this parameter to exclude jobs with certain top level taxonomies from the results You can filter out more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_exclusion_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_experience_level_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a certain required experience level as identified by our AI, the options are: 0-2/2-5/5-10/10+ To filter on more than one job type, please delimit by comma with no space, like such: 0-2,2-5",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_visa_sponsorship_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_li",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company via the slug. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:netflix,walmart Only allows for exact matches, please check the exact company slug before filtering. The slug is the company specific part of the url. For example the slug in the following url is 'walmart': https://www.linkedin.com/company/walmart/ Please send us a message or email at remco@fantastic.jobs to receive a list of companies",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Similar to the slug filter, but it removes companies from the results.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_industry_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the organization's LinkedIn Industry. Please use the exact Industry name. This filter is case sensitive. You can filter on more than one industry with a comma-delimited list without spaces. For example: industry_filter=Accounting,Staffing and Recruiting If the industry contains a comma, please double-quote. You can find a list of industries on our website: https://fantastic.jobs/article/linkedin-industries",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_specialties_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the job's organization LinkedIn specialties, with the same syntax as our job search filters. Please note that not all companies have specialties listed on their company profile",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the company's description, with the same syntax as our job search filters",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_lte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/active-ats-24h": {
      "get": {
        "summary": "Get Jobs 24h",
        "description": "Search and retrieve jobs on title, description, location, remote, and organization. Optionally add a text or html description. The jobs in this API have been indexed by us during the last 24 hours.",
        "operationId": "get_jobs_24h",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "You can limit the number of jobs per API call between 10 and 100. If left blank, the default value is 100 Use the offset parameter to receive the next batch of jobs",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset allows you to paginate results. For example, if you want to retrieve 300 jobs from our api you can send 3 requests with limit=100 and offset= 0, 100, and 200. With a limit of 10, you can fetch 30 jobs using 3 requests with offset= 0, 10, and 20",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "title_filter",
            "in": "query",
            "required": false,
            "description": "Search on the job title. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_title_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Title filter which enables more features like parenthesis, 'AND', and prefix searching. Can Not be used in combination with regular title_filter Phrares (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: (AI | 'Machine Learning' | 'Robotics') & !",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_filter",
            "in": "query",
            "required": false,
            "description": "Filter on location. Please do not search on abbreviations like US, UK, NYC. Instead, search on full names like United States, New York, United Kingdom. You may filter on more than one location in a single API call using the OR parameter. For example: Dubai OR Netherlands OR Belgium",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job description. You can search like you search on Google, see the documentation for more info.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_description_filter",
            "in": "query",
            "required": false,
            "description": "Uses the same syntax as advanced_title_filter",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company name. Only allows for exact matches. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:NVIDIA,Walmart Warning, this filter does not work for company names using parenthesis ( ) Please send us an email at remco@fantastic.jobs to receive a list of all companies in this API",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "organization_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Same syntax as the organization_filter. Filter out more than one company with a comma delimited list without spaces!. Requires an exact match. Use the advanced_organization_filter for more functionality",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "description_type",
            "in": "query",
            "required": false,
            "description": "Description Type. Leave empty to return data without job description. Option 1: 'text' Option 2: 'html'",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "remote",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "You may optionally filter on the source, which are the ATS platforms. Your options are:adp, applicantpro, ashby, bamboohr, breezy, careerplug, comeet, csod, dayforce, eightfold, freshteam, gem, greenhouse, gohire, hirehive, hiringthing, icims, isolved, jazzhr, jobvite, join.com, kula, lever.co, oraclecloud, paycom, paylocity, personio, phenompeople, pinpoint, polymer, recruitee, recooty, smartrecruiters, successfactors, taleo, teamtailor, taleo, trakstar, workable, workday, zoho You can search o",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "source_exclusion",
            "in": "query",
            "required": false,
            "description": "You can exclude one or more sources with a comma delimited list without spaces!. For example: source_exclusion:workday,greenhouse",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "date_filter",
            "in": "query",
            "required": false,
            "description": "ou can use this filter to return only the most recent jobs, instead of all jobs from the last 7 days. This filter is a greater than filter. For example, if today's date is 2025-01-03 and you wish to only return jobs posted in 2025, you can filter on '2025-01-01'. To include time, use the following syntax: '2025-01-01T14:00:00' Please keep in mind that the jobs posted date/time is UTC and there's a 1 to 2 hour delay before jobs appear on this API.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "advanced_organization_filter",
            "in": "query",
            "required": false,
            "description": "Advanced Organization filter which enables more features like parenthesis, 'AND', and prefix searching. This filter is also useful to exclude certain organizations. Phrases (two words or more) always need to be single quoted or use the operator <-> Instead of using natural language like 'OR' you need to use operators like: & (AND) | (OR) ! (NOT) <-> (FOLLOWED BY) ' ' (FOLLOWED BY alternative, does not work with 6. Prefix Wildcard) :* (Prefix Wildcard) For example: University & ! Harvard Will ret",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_ai",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_employment_type_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific job type as identified by our AI, the options are: FULL_TIME/PART_TIME/CONTRACTOR/TEMPORARY/INTERN/VOLUNTEER/PER_DIEM/OTHER To filter on more than one job type, please delimit by comma, like such: FULL_TIME, PART_TIME",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_work_arrangement_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a specific work arrangement identified by our AI, This is a more granular version of the 'remote' filter, which is quite broad. the options are: On-site (Job is on site only, no working from home available) Hybrid (Job is in the office with one or more days remote) Remote OK (Job is fully remote, but an office is available) Remote Solely (Job is fully remote, and no office is available) To filter on more than one job type, please delimit by comma with no space, like such:",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level taxonomies. You can choose from: Technology, Healthcare, Management & Leadership, Finance & Accounting, Human Resources, Sales, Marketing, Customer Service & Support, Education, Legal, Engineering, Science & Research, Trades, Construction, Manufacturing, Logistics, Creative & Media, Hospitality, Environmental & Sustainability, Retail, Data & Analytics, Software, Energy, Agriculture, Social Services, Administrative, Government & Public Sector, Art & Design",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_primary_filter",
            "in": "query",
            "required": false,
            "description": "Filter the jobs on one or more top level primary taxonomies. This filter will filter on the primary taxonomy only (the first taxonomy in the array) You can filter on more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_taxonomies_a_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Use this parameter to exclude jobs with certain top level taxonomies from the results You can filter out more than one taxonomy with a comma delimited list without spaces!. For example: ai_taxonomies_a_exclusion_filter:Technology,Healthcare For taxonomies including &, please double-quote",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_has_salary",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_experience_level_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature. Filter on a certain required experience level as identified by our AI, the options are: 0-2/2-5/5-10/10+ To filter on more than one job type, please delimit by comma with no space, like such: 0-2,2-5",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_visa_sponsorship_filter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_li",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the job's company via the slug. You can search on more than one company with a comma delimited list without spaces!. For example: organization_filter:netflix,walmart Only allows for exact matches, please check the exact company slug before filtering. The slug is the company specific part of the url. For example the slug in the following url is 'walmart': https://www.linkedin.com/company/walmart/ Please send us a message or email at remco@fantastic.jobs to receive a list of companies",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_slug_exclusion_filter",
            "in": "query",
            "required": false,
            "description": "Similar to the slug filter, but it removes companies from the results.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_industry_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the organization's LinkedIn Industry. Please use the exact Industry name. This filter is case sensitive. You can filter on more than one industry with a comma-delimited list without spaces. For example: industry_filter=Accounting,Staffing and Recruiting If the industry contains a comma, please double-quote. You can find a list of industries on our website: https://fantastic.jobs/article/linkedin-industries",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_specialties_filter",
            "in": "query",
            "required": false,
            "description": "BETA Feature Filter on the job's organization LinkedIn specialties, with the same syntax as our job search filters. Please note that not all companies have specialties listed on their company profile",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_description_filter",
            "in": "query",
            "required": false,
            "description": "Filter on the company's description, with the same syntax as our job search filters",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_lte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "li_organization_employees_gte",
            "in": "query",
            "required": false,
            "description": "Use this to filter on jobs from companies less than a certain number of employees. Can be used in combination with li_organization_employees_gte. For example, if you wish to filter on small companies but want to exclude companies with just one employee, you can use the following query filter: employees_gte=1 employees_lte=200",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ai_education_requirements_filter",
            "in": "query",
            "required": false,
            "description": "Please contact us before using",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/active-ats-expired": {
      "get": {
        "summary": "Ultra - Get Expired Jobs",
        "description": "Contains IDs of jobs that were flagged as expired yesterday. Updates once per day at 01:30 UTC. Requires Ultra or Mega subscription",
        "operationId": "ultra___get_expired_jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key"
      }
    }
  },
  "security": [
    {
      "ApiAuth": []
    }
  ]
}